<head>
    <style>
        .custom-button{
            background-color: #f7547a;
            color:white;
            padding:1px 2px;
            border:none;
            border-radius: 5px;
            cursor:pointer;
        }
    </style>
</head>
<center>
<font size="+5">
        <h1>
            TODO List
        </h1>
</font>
<% if user_signed_in? %>
    <p style="color:#f7547a" onmouseover="this.style.color='green';" onmouseout="this.style.color='#f7547a'">
        <%= link_to "Nova lista", new_list_path %>
    </p>
    <%= button_to "Deslogar", destroy_user_session_path, method: :delete , class: "custom-button"%>
<% end %>

    
<% @lists.each do |list|%>
    <div class="inline-flex items-baseline">
        <div class=" mx-0 flex flex-col p-10 bg-white w-[300px] min-h-[50px] h-[auto] mt-[50px] rounded-lg " >
            <h2 style="color:#f7547a" onmouseover="this.style.color='#73c6fa';" onmouseout="this.style.color='#f7547a'">
                <u>
                    <font size="+2">
                        <%= link_to(list.title, list_path(list)) %>
                    </font>
                </u>
            </h2>
            <div>
                <% list.items.each do |item| %>
                <div>
                    <input type="checkbox">
                    <span>
                        <%= item.content %>
                    </span>
                    <%= button_to "Delete", item_path(item), method: :delete, class: "custom-button" %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
<%end%>
</center>