<div class="w-full h-full flex justify-center flex-col items-center">
    <%= simple_form_for @list do |f| %>
        <div class="flex justify-center flex-col p-10 bg-white w-[400px] rounded-lg">
            <h1 class="flex items-center justify-center text-2xl">Nova Lista</h1>
            <div class="form-inputs space-y-4">
                <%=f.label :titulo, class: "block text-gray-700 text-sm font-bold mb-2"%>
                <%= f.input :title, 
                            label:false,
                            input_html: { class: "w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" }
                %>
                <%session[:id] = @list.id%> <!--Salvando id da lista-->
                <%= f.button :submit, "Criar",
                              class:"cursor-pointer bg-red-300 px-5 rounded mt-[10px]"
                %>
                <div class="left">
                <%= link_to "Criar Item", new_item_path %>
                </div>
            </div>
        </div>
    <% end %>
</div>
<!--<%= render partial: "form" %>-->


    