<head>
    <style>
        .custom-button{
            background-color: #f7547a;
            color:white;
            padding:1px 2px;
            border:none;
            border-radius: 5px;
            cursor:pointer;
        }
    </style>
</head>
<center>
    <div class="flex justify-center flex-col p-10 bg-white w-[300px] min-h-[50px] h-[auto] mt-[50px] rounded-lg " >
        <font size="+3">
                <h1><%= @list.title %></h1>
        </font>
        <% if user_signed_in? %>
            <p style="color:#f7547a" onmouseover="this.style.color='green'; "onmouseout="this.style.color='#f7547a'">
                <%= link_to "Editar", edit_list_path(@list) %>
            </p>

            <%= button_to "Deletar", list_path(@list), method: :delete, class: "custom-button" %>
        <% end %>
        <% @list.items.each do |item| %>
            <p>
                <%= item.content %>
            </p>
        <% end %>
        <div class="mt-[40px]"style="color:#f7547a" onmouseover="this.style.color='green'; "onmouseout="this.style.color='#f7547a'">
            <%= link_to "Voltar", lists_path%>
        </div>
    </div>
</center>


