<h1>Novo item</h1>
<div class="w-full h-full flex justify-center flex-col items-center">
    <%= simple_form_for @item do |f| %>
        <div class="flex justify-center flex-col p-10 bg-white w-[400px] rounded-lg">
            <div class="form-inputs space-y-4">
                <%= f.label :conteudo, class: "block text-gray-700 text-sm font-bold mb-2"%>
                <%= f.input :content, 
                            label:false
                %>
                <%= f.input :list_id, as: :hidden , input_html:{value: params[:id], readonly:true} %>
                <%= f.button :submit%>
            </div>
        </div>
    <% end %>
</div>